.Tilt{
    margin-left: 30px;
    background: linear-gradient(105.4deg, rgb(53, 169, 215) 23.9%, rgb(216, 176, 216) 86.5%);
}

.parallax-effect-img {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-size: contain;
    background-repeat: no-repeat;
}  

.inner-element{
    width: 150px;
    height: 150px;
}

